<div class="bottom">
<div class="div3">

  <h4> Quiz Name: </h4><%= @quizz.name %>
  <h4>Questions</h4>
  
  <% Question.where(quizz_id:@quizz.id).each do |question| %>
    <%= question.question %><br>

    <%= form_with url: "/answers/new", method: :post do |form| %>
    
      <%= form.radio_button :answer, question.option %> 
      <%= form.label :answer, question.option %>

      <%= form.radio_button :answer, question.option2 %> 
      <%= form.label :answer, question.option2 %>

      <%= form.radio_button :answer, question.option3 %> 
      <%= form.label :answer, question.option3 %>

      <%= form.radio_button :answer, question.option4 %> 
      <%= form.label :answer, question.option4 %><br/>

      <div class="field">
        <%= form.hidden_field :question_id, value: question.id %>
      </div>
      <div class="field">
        <%= form.hidden_field :quizz_id, value: @quizz.id %>
      </div>
      <br>
      <div class="actions">
        <%= form.submit "Save", class:  "btn btn-primary" %>
      </div>
  
    <% end %>
    <br>
    <%= button_to "view results", answers_path , method: :get, class: "btn btn-primary" %>
  <% end %>
</div>
</div>
